@section Styles {
    <style>
        .category-img {
            width: 100px; 
            height: auto; 
            border-radius: 5px; 
        }

        .table th, .table td {
            vertical-align: middle; 
            text-align: center; 
        }

        .table .btn {
            margin: 5px; 
        }

        .table {
            margin-top: 20px; 
        }

        .form-group {
            margin-bottom: 15px; 
        }
    </style>
}

@model List<Electronic_Mall.Models.Category>

<h1 class="text-center">إدارة الفئات</h1>

<section id="services" class="services section-bg">
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>الصورة</th>
                    <th>الاسم</th>
                    <th>العمليات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>
                            <div>
                                @if (!string.IsNullOrEmpty(category.Photo))
                                {
                                    <li>
                                        الصورة: <img src="../assets/img/@category.Photo" alt="@category.Categoryname" class="category-img" />
                                    </li>
                                }

                            </div>
                           
                        </td>
                        <td>@category.Categoryname</td>
                        <td>
                            <a href="@Url.Action("EditCategory", "Category", new { categoryId = category.Categoryid })" class="btn btn-outline-primary btn-sm">
                                تعديل
                            </a>
                            <a href="@Url.Action("Delete", "Category", new { id = category.Categoryid })" class="btn btn-outline-danger btn-sm">
                                حذف
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <form action="/Category/AddCategory" method="post" enctype="multipart/form-data" class="mb-4">
            <div class="form-group">
                <h2>إضافة فئة جديدة</h2>
                <label for="categoryName">اسم الفئة:</label>
                <input type="text" id="categoryName" name="CategoryName" class="form-control" required>
                <div class="form-group">
                    <label for="Photo">صورة الفئة:</label>
                    <input type="file" id="Photo" name="Photo" class="form-control" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">إضافة</button>
        </form>

    </div>
</section>

